{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-10">
    <h3>Questions</h3>
  </div>
  {% include 'inc/ask_button.html' %}
</div>

<div class="card text my-2">

  {% include 'inc/question_navbar.html' with new_css_classes="nav-link active" hot_css_classes="nav-link"%}

  <div class="body">
    {% for question in page_obj %}
    {% include 'inc/question.html' %}
    {% endfor %}

    <script
            crossorigin="anonymous"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            src="https://code.jquery.com/jquery-3.5.1.min.js">
    </script>
    <script type="module">
        import {getCookie} from '../inc/ajax.js';


        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(".like-click").click(function (event) {
            $.ajax({
                url: 'http://127.0.0.1:8000/like/',
                data: {"like-id": event.target.getAttribute("like-id")},
                type: 'post', // This is the default though, you don't actually need to always mention it
                success: function (data) {
                    alert("jhggthjyukiyh");
                    var click_id = event.target.getAttribute("like-id");
                    var new_value = parseInt($('#' + click_id).text()) + 1;
                    console.log(new_value)
                    console.log( String(new_value))
                    if (new_value > 0) {
                        $('#' + click_id).text("+" + String(new_value));
                    }
                    else {
                        $('#' + click_id).text(String(new_value));
                    }
                },
                failure: function (data) {
                    alert('Got an error dude');
                }
            });
        });

        $(".dislike-click").click(function (event) {
            $.ajax({
                url: 'http://127.0.0.1:8000/dislike/',
                data: {"dislike-id": event.target.getAttribute("dislike-id")},
                type: 'post', // This is the default though, you don't actually need to always mention it
                success: function (data) {
                    // alert("jhggthjyukiyh");
                    var click_id = event.target.getAttribute("dislike-id");
                    var new_value = parseInt($('#' + click_id).text()) - 1;
                    console.log(new_value)
                    console.log( String(new_value))
                    if (new_value > 0) {
                        $('#' + click_id).text("+" + String(new_value));
                    }
                    else {
                        $('#' + click_id).text(String(new_value));
                    }
                },
                failure: function (data) {
                    alert('Got an error dude');
                }
            });
        });

    </script>
  </div>
</div>

{% include 'inc/paginator.html' %}
{% endblock content %}