{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="row">
  <div class="col-10">
    <h3 style="margin-bottom: 15px;">Log In</h3>

      <form action="./?next={{redirect_to}}" method="post" novalidate>
        {% csrf_token %}
        {% if form.errors %}
        <p>
          Your username and password didn't match.
          Please try again.
        </p>
        {% endif %}

        {% bootstrap_form form %}
        {% buttons %}
        <button class="btn btn-primary" type="submit">Login</button>
        {% endbuttons %}

    </form>
  </div>
</div>

{% endblock content %}
