{% load static %}

  <div class="card p-2 m-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-1 mx-0 p-0">
          <div class="row">
            <img src="{% static 'img/cat.jpg' %}" width="64" height="64" class="img-thumbnail">
          </div>

          <div class="row  pl-2 ">
            <button type="button" class="btn btn-default p-1" aria-label="Left Align">
              <span class="oi oi-chevron-top" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default p-1" aria-label="Left Align">
              <span class="oi oi-chevron-bottom" aria-hidden="true"></span>
            </button>
          </div>
          <div class="row pl-4 h-1">
            <h5>32</h5>
          </div>
        </div>

        <div class="col-10">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                   tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Correct answer!
            </label>
        </div>
      </div>
    </div>
  </div>
