{% load static %}

<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <button type="button" class="btn btn-secondary mt-3 mx-1 mb-5">
        <a href="?page={{ page_obj.previous_page_number }}" class="text-reset">prev</a>
      </button>
      <button type="button" class="btn btn-secondary mt-3 mx-1 mb-5">
        <a href="?page=1" class="text-reset">1</a>
      </button>
    {% endif %}

    <span class="current">
       <button type="button" class="btn btn-light btn-outline-secondary mt-3 mx-1 mb-5">
          <a href="?page={{ page_obj.number }}" class="text-reset">{{ page_obj.number }}</a>
        </button>
    </span>

    {% if page_obj.has_next %}
      <button type="button" class="btn btn-secondary mt-3 mx-1 mb-5">
        <a href="?page={{ page_obj.paginator.num_pages }}" class="text-reset">{{page_obj.paginator.num_pages}}</a>
      </button>
      <button type="button" class="btn btn-secondary mt-3 mx-1 mb-5">
        <a href="?page={{ page_obj.next_page_number }}" class="text-reset">next</a>
      </button>

    {% endif %}
  </span>
</div>

