{% load static %}

<div class="col-2 d-none d-sm-none d-md-block">

  <div class="row" style="min-height: 50px;"></div>
    <div class="row">
      <h4>Popular tags</h4>
      <h5>
        <p>
          {% for tag in popular_tags %}
            <a href="{% url 'tag' tag_name=tag %}" >{{tag}}</a>
          {% endfor %}
        </p>
      </h5>
    </div>

  <div class="row">
    <h4>Best users</h4> <br>
    <h5>
      <a href="#" class="badge badge-primary">Bob</a>
      <a href="#" class="badge badge-primary">Alisa</a>
      <a href="#" class="badge badge-primary">Mary</a>
      <a href="#" class="badge badge-primary">Jack</a>
      <a href="#" class="badge badge-primary">Nik</a>
    </h5>
  </div>
</div>